.list{
    width: 400px;
}

.logo{
    color: rgb(255,0,193);
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
}

.nav-links{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 4px;
}

.nav-links:hover{
    border-radius: 4px;
    color: black;
    background-color: white;
    transition: all 0.2s ease-in-out;
}

.nav-links-login{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-color: rgb(255,0,193);
    border-radius: 4px;
}

.nav-links-login:hover{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255,0,193);
    background-color: white;
    transition: all 0.2s ease-out;
}

.nav-links-drawer{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.nav-links-drawer:hover{
    color: $secondary-color-light;
    transition: all 0.2s ease-out;
}

.nav-links-login-drawer{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.nav-links-login-drawer:hover{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255,0,193);
    background-color: white;
    transition: all 0.2s ease-out;
}

//weird white backgroud workaround
.MuiPaper-elevation16{
    background-color: $primary-color;
}